.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 98vh;
  font-family: sans-serif;
}

.box {
  background-color: rgb(238, 241, 250);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 500px;
}

h1,
input {
  margin-bottom: 24px;
}

h1 {
  font-size: 32px;
  color: royalblue;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

input {
  height: 30px;
  width: 300px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #555;
  cursor: pointer;
  padding: 2px;
}

input:focus {
  border: 2px solid royalblue;
}

button {
  padding: 8px 16px;
  margin-bottom: 24px;
  background-color: royalblue;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.para {
  color: #222;
  font-size: 18px;
  font-weight: 500;
}

.box {
  position: relative;
}

.icon {
  position: absolute;
  top: 4%;
  right: 4%;
  stroke: royalblue;
  z-index: 9999;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
